# Игнорировать файлы модели (большие)
intent_model/*.safetensors
intent_model/*.bin

# Игнорировать базу данных
*.db

# Игнорировать логи
*.log

# Игнорировать результаты обучения
results/
logs/

# Игнорировать папку с окружением
bert_env/